version: '2.1'
services:
    rabbitmq:
       image: rabbitmq:3-management
       ports:
         - 15672:15672
         - 5672:5672
       container_name: banco-beer-rabbitmq
       environment:
         - RABBITMQ_HOST=rabbitmq
         - RABBITMQ_USER=guest
         - RABBITMQ_PASS=guest
         - RABBITMQ_DEFAULT_VHOST=/
         - HEALTH_CHECK_CACHE=0
    dbpostgresql:
        image: postgres
        ports:
          - "5432:5432"
        environment:
          - POSTGRES_PASSWORD=password
          - POSTGRES_USER=postgres
          - POSTGRES_DB=beercoins_db

